/* Element Selectors */
div {
    width: 50%;
}

div * {
    border: 0.2em solid red;
}

* {
    font-style: italic;
}

/* Class Selectors */
.frame {
    border: 0.2em solid red;
}

p.frame {
    border: 0.2em solid blue;
    width: 50%;
}

/* ID Selectors */
#span1 {
    background-color: yellow;
}

#span2 {
    background-color: lime;
}

p #para1 {
    background-color: cyan;
    width: 70%;
}

/* Descendant Selectors */
#menu ul li {
    color: orange;
}

#menu ol li {
    color: purple;
}

ul li {
    color: red;
}

ol li {
    color: blue;
}

/* Relationship Selectors */
h3 + p {
    background: yellow
}

p > span {
    background: lime
}

body > ul {
    background: fuchsia
}

body > ul > li {
    background-color: aqua;
}

body > ul > li > span {
    background-color: orange;
}

/* Attribute Selectors */
a[id] {
    background: orange
}

a[href] {
    color: red
}

a[href][title] {
        background: yellow
    }

a[href="#top"] {
    border: 0.2em solid blue
}

/* Partial Attribute Selectors */
*[class ~= "animal"] {
    background: lime
}

*[lang |= "es"] {
    color: red;
    background: yellow
}

*[src |= "ring"] {
    background: fuchsia
}

*[src |= "box"] {
    background: aqua
}

/* Importance Selectors */
h2 {
    color: yellow !important
}

h2 {
    color: black
}

h2 {
    background: aqua
}
/* 0,0,0,1 */

body h2 {
    background: blue
}
/* 0,0,0,2 */

#heading-2 {
    background: maroon
}
/* 0,1,0,0 */

h2#heading-2 {
    background: red
}
/* 0,1,0,1 */

h2.headers {
    background: olive
}
/* 0,0,1,1 */

body h2.headers {
    background: green
}
/* 0,0,1,2 */