/*
div {
    width: 50%;
}

div * {
    border: 0.2em solid red;
}

* {
    font-style: italic;
}
*/

/* Class Selectors */
/*
.frame {
    border: 0.2em solid red;
}

p.frame {
    border: 0.2em solid blue;
    width: 50%;
}
*/

/* ID Selectors */
/*
#span1 {
    background-color: yellow;
}

#span2 {
    background-color: lime;
}

p #para1 {
    background-color: cyan;
    width: 70%;
}

/* Descendant Selectors */
/*
#menu ul li {
    color: orange;
}

#menu ol li {
    color: purple;
}

ul li {
    color: red;
}

ol li {
    color: blue;
}
*/

/* Relationship Selectors */
/*
h3 + p {
    background: yellow
}

p > span {
    background: lime
}

body > ul {
    background: fuchsia
}

body > ul > li {
    background-color: aqua;
}

body > ul > li > span {
    background-color: orange;
}
*/

/* Attribute Selectors */
/*
a[id] {
    background: orange
}

a[href] {
    color: red
}

a[href][title] {
        background: yellow
    }

a[href="#top"] {
    border: 0.2em solid blue
}
*/

/* Partial Attribute Selectors */
/*
*[class ~= "animal"] {
    background: lime
}

*[lang |= "es"] {
    color: red;
    background: yellow
}

*[src |= "ring"] {
    background: fuchsia
}

*[src |= "box"] {
    background: aqua
}
*/

/* Importance Selectors */
/*
h2 {
    color: yellow !important
}

h2 {
    color: black
}

h2 {
    background: aqua
}
/* 0,0,0,1 */
/*
body h2 {
    background: blue
}
*/
/* 0,0,0,2 */
/*
#heading-2 {
    background: maroon
}
*/
/* 0,1,0,0 */
/*
h2#heading-2 {
    background: red
}
/* 0,1,0,1 */
/*
h2.headers {
    background: olive
}
/* 0,0,1,1 */
/*
body h2.headers {
    background: green
}
/* 0,0,1,2 */

/* Blockquotes */
/*
p, blockquote {
    border: 1px solid red
}

q {
    background: aqua;
}
*/

/* Emphasizing Elements */
/*
*[class ~= "dangerous"] {
    color: red
}

*[class ~= "look"] {
    color: gold
}

*[class ~= "unlocking"] {
    color: silver
}
*/

/* Hyperlink States */
/*
a:hover {
    background: yellow;
}

a:active {
    background: olive;
}

a:visited {
    background: aqua;
}

a {
    text-decoration: none;
    color: black
}

a:focus {
    background: red;
    color: white
}
*/

/* Fragmenting Links */
/*
p.yellow-block {
    height: 700px;
    background: yellow;
}

p.red-block {
    height: 700px;
    background: red;
}
*/

/* Linking to Protocols */
/*
img#chart {
    visibility: hidden;
    height: 0px;
}

p#links {
    padding: 5px;
    border: 3px double green;
    width: 200px;
}
*/

/* Images as Hyperlinks */
/*
p.button {
    width: 192px;
    height: 67px;
    background: url(rollover-bg.png);
}

p.button a {
    display: block;
    width: 192px;
    height: 67px;
}

p.button a img {
    border: 0px;
}

p.button a:hover img {
    visibility: hidden;
}
*/

/* Generating Pop Ups */
/* * {
    margin: 0;
    padding: 0;
    border: 0;
}

img.pop {
    position: absolute;
    top: 20px;
    left: 190px;
    padding: 15px;
    visibility: hidden;
    height: 0px;
}

p {
    width: 150px;
    float: left;
    margin: 20px 0 0 20px;
}

p #models a {
    display: block;
    padding: 5px;
    margin: 0 0 20px 0;
    color: white;
    background: blue;
    text-decoration: none;
}

p #models a:hover {
    color: #FFF;
    background: #F00;
}

p #models a:hover img.pop {
    border: 5px solid red;
    background: #FFF;
    z-index: 10;
    visibility: visible;
    height: auto;
}
*/

/* Navigation */
/*
#logo {
    float: left;
}

#horizontal {
    padding-left: 100px;
    display: block;
}

#vertical {
    float: left;
    padding: 0px 30px 130px 30px;
}
*/

/* Aside Content */
/*
article.sidebar > p, aside {
    display: table-cell;
    padding-right: 20px;
}
*/

/* Footer Content */
/*
footer #page {
    margin-top: 20px;
}
*/

/* Positioning Content */
/*
p {
    color: orange;
    background: blue
}
*/

/* Unordered List Content */
/*
ul.disc-bullets {
    list-style-type: disc;
    float: left;
}

ul.circle-bullets {
    list-style-type: circle;
    float: left;
}

ul.square-bullets {
    list-style-type: square;
    float: left;
}

ul.image-bullets {
    list-style-image: url(cocohead.jpeg);
    clear: both;
}
*/

/* Ordered List Contents */
/*
ol {
    display: table-cell;
}

ol #list-2 {
    padding-right: 20px;
}

ol #list-3 {
    list-style-type: upper-roman;
    padding-left: 50px;
    border-left: 3px dashed black;
}
*/

/* Definition List Contents */
/*
dt {
    color: blue;
}

dfn {
    color: red;
    font-size: 20pt;
}

dd.grammar {
    color: green;
}

dd.spoken {
    color: blue;
}
*/

/* Table Contents */
/*
table#data {
    width: 580px;
    font-family: sans-serif;
    border: 5px solid black;
}

table#data tr, td {
    border: 1px solid black
}
*/

/* Rowspan Table Contents */
/*
table#data {
    width: 580px;
    font-family: sans-serif;
    border: 5px solid black;
}

table#data tr, td {
    border: 1px solid black
}

table#data td[rowspan="2"] {
    background: yellow
}

table#data td[rowspan="3"] {
    background: aqua
}
*/

/* Colspan Table Contents */
/*
table#data {
    width: 580px;
    font-family: sans-serif;
    border: 5px solid black;
}

table#data tr, td {
    border: 1px solid black
}

table#data td[colspan="2"] {
    background: aqua
}

table#data td[colspan="3"] {
    background: yellow
}
*/

/* Table Header and Footer Contents */
/*
table#data {
    width: 580px;
    font-family: sans-serif;
    border: 5px solid black;
}

table#data tr, td {
    border: 1px solid black;
}

table#data thead {
    background: aqua;
}

table#data th.next {
    background: yellow;
}

table#data tfoot {
    background: lime;
}
*/

/* Colgroup Table Elements */
/*
table#sep colgroup.weekday {
    background: aqua;
}

table#sep colgroup.weekend {
    background: yellow;
}

table#sep {
    width: 580px;
    border-collapse: collapse;
}

table#sep thead, tfoot {
    background: white;
    color: red;
}

table#sep tbody {
    text-align: center;
}

table#sep tbody tr td#birthday {
    border: 2px solid red;
}
*/

/* Columns in Tables */
/*
table#jfk {
    width: 580px;
    border-collapse: collapse;
}

table#jfk tbody th {
    background: blue;
    color: white;
}

table#jfk tbody td {
    padding: 3px;
    text-align: center;
    }

table#jfk tfoot {
    font-size: small;
}

table#jfk colgroup.sidebar col {
    width: 70px;
}

table#jfk colgroup.info col {
    width: 80px;
}

table#jfk colgroup.info {
    border-left: 2px solid white;
}

table#jfk colgroup col.stripe {
    background: aqua;
}
*/

/* Templates */
/*
table {
    font-family: sans-serif;
    border: 1px solid black;
}

th {
    background: white;
}

tr:nth-child(odd) {
    background: coral;
}

td {
    padding: 5px 50px;
}
*/

/* Labelling Form Controls */
/*
label.hilite {
    background: red;
    color: white;
}
*/

/* Figures & Figcaptions */
/*
figure#front-stack {
    float: left;
    margin-top: 0px;
}

figure#back-stack {
    float: right;
    margin-top: 0px;
}

figcaption {
    font-size: smaller;
    color: red;
}

p:first-letter {
    font-size: xx-large;
}
*/

/* Embedding in Frames */
/*
article.left220 {
    width: 220px;
    float: left;
    margin-right: 20px;
}
*/