/*
    Refer back to:
    align.html
1. Create a linked style sheet containing a rule to specify the font and
colors.
2. Next add a rule to horizontally justify the text within the second
paragraph's content box.
3. Now add rules to adjust the vertical alignment of spanned text within
the third paragraph.
4. Save the style sheet alongside the HTML document then open the web
page in a browser to see the alignments.
*/

p, span {
    font: medium monospace;
    background: yellow;
    border: 1px solid red
}

p#equalize {
    text-align: justify
}

span.up {
    vertical-align: super
}

span.down {
    vertical-align: sub
}

span.top {
    vertical-align: top
}