/*
    Refer back to:
    direction.html
1. Create a linked style sheet with style rules to color element
backgrounds and preserve whitespace in paragraphs.
2. Now add style rules to set the text directions of each definition in
the list.
3. Save the style sheet alongside the HTML document then open the web
page in a browser to see the preserved whitespace and various text
directions.
Generally the default treatment of right-to-left language characters
achieves the desired effect. In practice overriding the Unicode
BiDirectional algorithm is seldom needed.
*/

p, dd {
    background: yellow
}

p {
    white-space: pre
}

dd.ltr {
    direction: ltr
}

dd.rtl {
    direction: rtl
}

dd.bidi-off {
    unicode-bidi: bidi-override
}